<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2>来月の申請が登録されていません</h2>
<p><%= @user.label %> さんが登録した<%= @month %>月の残留申請はありません。</p>
<p>教員の申請受理は月初めに行われる可能性が高いですが、大丈夫ですか？</p>

<p>
  残留申請 Neo: <a href="https://zanryu-neo.elzup.com/">https://zanryu-neo.elzup.com/</a>
</p>
</body>
</html>
