<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2><%= @month %>月の申請が受理されました。</h2>
<p><%= @user.label %> さん こんにちは。</p>
<p><%= @admin.name %> により <%= @month %>月の残留申請が出力されました。</p>

<p>
  残留申請 Neo: <a href="https://zanryu-neo.elzup.com/">https://zanryu-neo.elzup.com/</a>
</p>
</body>
</html>
