<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2>未処理の申請があります</h2>
<p>本日に登録されている残留申請で未エクスポートの申請が残っています。</p>
<ul>
  <% @requests.each do |request| %>
      <li><%= request.user.label %></li>
  <% end %>
</ul>
<p>このメールについて。毎日 18時に当日の申請で未エクスポートがないかチェックし、存在する場合のみ教員に結果を通知しています。</p>

<p><%= @requests.count %>件</p>
<p>
  残留申請 Neo: <a href="https://zanryu-neo.elzup.com/">https://zanryu-neo.elzup.com/</a>
</p>
</body>
</html>
