
#calendar {
  .fc-toolbar {
    button {
      @extend .btn, .btn-default;
      padding: 0 0.6em;
    }
  }
}

.eyecatch {
  max-width: 70%;
}

h1.title {
  font-size: 40px;
  i {
    font-size: 60px;
    padding-right: 9px;
    text-shadow: 3px 3px 5px pink
  }
}

h2 {
  font-size: 32px;
}

a.exported {

  background: #a0a0a0 !important;
  border-color: #b7b7b7 !important;
}

.fc-day-header {
  background-color: $brand-primary;
  color: #fff;

  &.fc-sat { background-color: $brand-success; }
  &.fc-sun { background-color: $brand-info; }
}


.fc-day-top {
  .fc-day-number {
    color: $brand-primary;
  }
  &.fc-sat {
    .fc-day-number {
      color: $brand-success;
    }
  }
  &.fc-sun {
    .fc-day-number {
      color: $brand-info;
    }
  }
}

.fc-past {
  background: #b9b9b9;
}

.fc-other-month {
  background: #9c9c9c;
}

#calendar {
  margin-bottom: 1em;
}

.userinfos {
  display: flex;
  flex-wrap: wrap;
  p {
    margin-left: 1em;
  }
}